@import 'license';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #554559;
  -webkit-font-smoothing: antialiased;
}

@import 'colors';

@import 'mainLayout';
@import 'repositoryList';
@import 'issueList';
@import 'issue';

@import 'surfaceRegion';
@import 'repositoryConfig';
