<div class="modal-content">

  <form>

    <div class="modal-header">
      <h4 class="modal-title">Repository Settings</h4>
    </div>

    <div class="repositoryConfig-body modal-body">

      <p>select a repository</p>
      <div class="repositoryConfig-relativeWrapper">
        <div class="repositoryConfig-childViewContainer"></div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Done</button>
    </div>

  </form>

</div>
