<div class="modal-content">

  <form>

    <div class="modal-header">
      <h4 class="modal-title">User Settings</h4>
    </div>

    <div class="modal-body">

      <div class="form-group">
        <label class="control-label" for="userConfigName">Name</label>
        <div class="form-control-wrapper">
          <input type="text" name="name" class="form-control" id="userConfigName" placeholder="Name" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="userConfigToken">Token</label>
        <div class="form-control-wrapper">
          <input type="password" name="token" class="form-control" id="userConfigToken" placeholder="Token" required>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>

  </form>

</div>
